{% load static%}
<!DOCTYPE html>
 <html lang="zxx">

    <head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="HTML5 Template Arco onepage themeforest" />
		<meta name="description" content="Arco - Onepage Multi-Purpose HTML5 Template" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>Arco</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'acro/img/favicon.ico" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

		<!-- Plugins -->
		<link rel="stylesheet" href="{% static 'acro/css/plugins.css ' %}" />

        <!-- Core Style Css -->
        <link rel="stylesheet" href="{% static 'acro/css/style.css ' %}" />

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div>
        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

	

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->

    	<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="{% static 'acro/img/29021.jpg ' %}" data-stellar-background-ratio="0.5">

            <!-- particles -->
            <div id="particles-js"></div>

    		<div class="container">
    			<div class="row">
    				<div class="full-width text-center caption mt-30">
                        
    					<h4 style="color: #2AAFC0;"><strong>online Workshop</strong></h4>
                        <h1>A collaborative e-challenge to discover Industry 4.0
                        </h1>
                        <p>23 – 25th JUNE 2020 </p>
                        <a href="#0" class="butn butn-light mt-30">
                            <span>Learn More</span>
                        </a>
                        <a href="#0" class="butn butn-bg mt-30">
                            <span>Get Started</span>

                        </a>
    				</div>
    			</div>
            </div>
         
    	</header>

    	<!-- End Header ====
    	======================================= -->



        <!-- =====================================
        ==== Start Hero -->

        <section class="hero section-padding" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    
                    <div class="intro offset-lg-1 col-lg-10 text-center mb-80">
                        <h3>Welcome To Our Agency</h3>
                        <h4>Who We Are And What Can We do?</h4>
                        <p>We’re full service which means we’ve got you covered on design and content right through to digital. You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time-to-time, but this is where you’ll shine. Bottom line is we want you to succeed at Faculty.</p>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <span class="icon icon-basic-book-pen"></span>
                            <h5>Creative Design</h5>
                            <p>Lorem Ipsum simply dummy text of the printing and type setting industry when an unknown printing simply dummy</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <span class="icon icon-basic-cards-diamonds"></span>
                            <h5>Branding</h5>
                            <p>Lorem Ipsum simply dummy text of the printing and type setting industry when an unknown printing simply dummy</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center">
                            <span class="icon icon-basic-pencil-ruler"></span>
                            <h5>Web Development</h5>
                            <p>Lorem Ipsum simply dummy text of the printing and type setting industry when an unknown printing simply dummy</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Hero ====
        ======================================= -->


        <!-- =====================================
        ==== Start Section-box -->

  

        <!-- End Section-box ====
        ======================================= -->


        <!-- =====================================
        ==== Start Services -->

   

        <!-- End Services ====
        ======================================= -->


        <!-- =====================================
        ==== Start Numbers -->


        <!-- End Numbers ====
        ======================================= -->


        <!-- =====================================
        ==== Start Works -->

  
        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Section-box -->


        <!-- End Section-box ====
        ======================================= -->


        <!-- =====================================
        ==== Start Teams -->
=
        <!-- End Teams ====
        ======================================= -->


        <!-- =====================================
        ==== Start Price -->

        <!-- End Price ====
        ======================================= -->


        <!-- =====================================
        ==== Start Testimonials -->


        <!-- End Testimonials ====
        ======================================= -->


        <!-- =====================================
        ==== Start Blog -->


        <!-- End Blog ====
        ======================================= -->


        <!-- =====================================
        ==== Start Subscribe -->

     

        <!-- End Subscribe ====
        ======================================= -->


        <!-- =====================================
        ==== Start Clients -->


        <!-- End Clients ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact-Info -->

      
        <!-- End Contact-Info ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact -->

        <section class="contact section-padding " data-scroll-index="6">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head text-center col-sm-12">
                        <h4>Get In Touch</h4>
                        <h6>Feel Free To Contact Us</h6>
                    </div>

                    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                        <form class="form" id="contact-form" method="post" action="contact.php">

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <button type="submit"><span>Send Message</span></button>
                                    </div>

                                </div>                             
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Contact ====
        ======================================= -->


        <!-- =====================================
        ==== Start Footer -->

        <footer class="text-center">
            <div class="container">

                <!-- Logo -->
                <a class="logo" href="#">
                    <img src="{% static 'acro/img/logo-light.png" alt="logo">          
                </a>
                
                <div class="social">
                    <a href="#0" class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <p>&copy; 2018 UI-ThemeZ. All Rights Reserved.</p>
                <p href="http://www.freepik.com"> The baground picture Designed by macrovector / Freepik</p>

            </div>
        </footer>

        <!-- End Footer ====
        ======================================= -->




       
        <!-- jQuery -->
        <script src="{% static 'acro/js/jquery-3.0.0.min.js ' %}"></script>
        <script src="{% static 'acro/js/jquery-migrate-3.0.0.min.js ' %}"></script>

        <!-- popper.min -->
        <script src="{% static 'acro/js/popper.min.js ' %}"></script>

        <!-- bootstrap -->
        <script src="{% static 'acro/js/bootstrap.min.js ' %}"></script>

        <!-- scrollIt -->
        <script src="{% static 'acro/js/scrollIt.min.js ' %}"></script>

        <!-- jquery.waypoints.min -->
        <script src="{% static 'acro/js/jquery.waypoints.min.js ' %}"></script>

        <!-- jquery.counterup.min -->
        <script src="{% static 'acro/js/jquery.counterup.min.js ' %}"></script>

        <!-- owl carousel -->
        <script src="{% static 'acro/js/owl.carousel.min.js ' %}"></script>

        <!-- jquery.magnific-popup js -->
        <script src="{% static 'acro/js/jquery.magnific-popup.min.js ' %}"></script>

        <!-- stellar js -->
        <script src="{% static 'acro/js/jquery.stellar.min.js ' %}"></script>

        <!-- isotope.pkgd.min js -->
        <script src="{% static 'acro/js/isotope.pkgd.min.js ' %}"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="{% static 'acro/js/YouTubePopUp.jquery.js ' %}"></script>

        <!-- particles.min js -->
        <script src="{% static 'acro/js/particles.min.js ' %}"></script>

        <!-- app js -->
        <script src="{% static 'acro/js/app.js ' %}"></script>

        <!-- Map -->
        <script src="{% static 'acro/js/map.js ' %}"></script>

        <!-- validator js -->
        <script src="{% static 'acro/js/validator.js ' %}"></script>

        <!-- custom scripts -->
        <script src="{% static 'acro/js/scripts.js ' %}"></script>

        <!-- google map api -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">
        </script>

    </body>
</html>