{% load static%}
<!DOCTYPE html>
 <html lang="zxx">

    <head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="HTML5 Template Arco onepage themeforest" />
		<meta name="description" content="Arco - Onepage Multi-Purpose HTML5 Template" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>WorkShop Industry 4.0 </title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

		<!-- Plugins -->
		<link rel="stylesheet" href="{% static 'acro/css/plugins.css' %}" />

        <!-- Core Style Css -->
        <link rel="stylesheet" href="{% static 'acro/css/style.css' %}" />

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div>
        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->

    	<header class="header wave valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="{% static 'acro/img/29021.jpg'%}" data-stellar-background-ratio="0.5">

            <!-- particles -->
            <div id="particles-js"></div>

    		<div class="container">
    			<div class="row">
    				<div class="full-width text-center caption mt-30">
                        <h4 style="color: #2AAFC0;"><strong>Free Online Workshop</strong></h4>
                        <h1>A collaborative e-challenge to discover Industry 4.0
                        </h1>
                        <p>23 – 25th JUNE 2020 </p>
                        <a href="#trois"  class="butn butn-light mt-30">
                            <span>Learn More</span>
                        </a>
                        <a href="{% url 'application' %}" class="butn butn-bg mt-30">
                            <span>Application</span>

                        </a>
    				</div>
    			</div>
    		</div>
    	</header>

    	<!-- End Header ====
    	======================================= -->


        <!-- =====================================
        ==== Start Hero -->

        <section class="hero section-padding" data-scroll-index="1" id="trois">
            <div class="container">
                <div class="row">
                    
                    <div class="intro offset-lg-1 col-lg-10 text-center mb-80">
                        <h3>You are a Master/PhD student and you want to discover :  </h3>
           

                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <span class="icon icon-basic-clessidre  "></span>
                            <h5>Future Skills</h5>
                            
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <span class="icon icon-basic-tablet "></span>
                            <h5>Digital Technologies</h5>
                           
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center">
                            <span class="icon icon-basic-pencil-ruler"></span>
                            <h5>Advanced Organizations</h5>
                         
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>







        
        <div class="numbers section-padding bg-img bg-fixed" data-scroll-index="2" data-overlay-dark="8" data-background="{% static 'acro/img/29021.jpg'%}">
            <div class="container">
                <div class="row" style="justify-content: center;" >

                    <div class="col-lg-2 col-md-6">
                        <div class="item text-center mb-md50">
                            <span class="icon icon-basic-clockwise  "></span>
                            <h3 class="count">3</h3>
                            <h6>Days to digitalize an SME</h6>
                        </div>
                    </div>
                   
                    <div class="col-lg-2 col-md-6">
                        <div class="item text-center mb-md50">
                            <span class="icon icon-basic-book-pencil"></span>
                            <h3 class="count">6</h3>
                            <h6>Thematic sprints about Industry 4.0</h6>
                        </div>
                    </div>
                 
                    <div class="col-lg-2 col-md-6">
                        <div class="item text-center mb-sm50">
                            <span class="icon  icon-basic-case"></span>
                            <h3 class="count">10</h3>
                            <h6>Multi-disciplinary French-German teams</h6>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="item text-center">
                            <span class="icon icon-basic-globe "></span>
                            <h3 class="count">8</h3>
                            <h6>Experts to support you</h6>
                        </div>
                    </div>


                    
                    <div class="col-lg-2 col-md-6">
                        <div class="item text-center">
                            <span class="icon icon-basic-flag1  "></span>
                            <h3 class="count">1</h3>
                            <h6>Final Jury composed by practitioners</h6>
                        </div>
                    </div>





                </div>
            </div>
        </div>


















        <!-- End Hero ====
        ======================================= -->


        <!-- =====================================
        ==== Start Section-box -->

    

        <!-- End Section-box ====
        ======================================= -->


        <!-- =====================================
        ==== Start Services -->


        <!-- End Services ====
        ======================================= -->


        <!-- =====================================
        ==== Start Numbers -->


        <!-- End Numbers ====
        ======================================= -->


        <section class="hero section-padding" data-scroll-index="1" id="trois">
            <div class="container">
                <div class="row">
                    
                    <div class="intro offset-lg-2 col-lg-8 text-center mb-80">
                        <h4  >Join our Industry 4.0 online workshop and get the chance to win an award</h4>
                        <a  href="{% url 'application' %}" class="butn butn-bg mt-30">
                            <span>Application</span>

                        </a>

                    </div>

         
                  
                </div>
            </div>
        </section>

        <section class="section-box" data-scroll-index="1" >
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 half-content bg-gray">
                        <div class="box-white">


                            <div class="skills">
                                <div class="row">
                                    <img src="{% static 'acro/img/sp.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- =====================================
        ==== Start Footer -->

        <footer class="text-center">
            <div class="container">

                <!-- Logo -->
       
                <p>&copy; 2020 ERPI Laboratory. All Rights Reserved.</p>
                <p href="http://www.freepik.com"> The baground picture Designed by macrovector / Freepik</p>

            </div>
        </footer>


        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Testimonials -->


        <!-- End Testimonials ====
        ======================================= -->


        <!-- =====================================
        ==== Start Blog -->

     

        <!-- End Blog ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact-Info -->


        <!-- End Contact-Info ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact -->

        <!-- End Contact ====
        ======================================= -->


        <!-- =====================================
        ==== Start Footer -->

        <!-- End Footer ====
        ======================================= -->




       
        <!-- jQuery -->
        <script src="{%  static 'acro/js/jquery-3.0.0.min.js' %}"></script>
        <script src="{%  static 'acro/js/jquery-migrate-3.0.0.min.js' %}"></script>

        <!-- popper.min -->
        <script src="{%  static 'acro/js/popper.min.js' %}"></script>

        <!-- bootstrap -->
        <script src="{%  static 'acro/js/bootstrap.min.js' %}"></script>

        <!-- scrollIt -->
        <script src="{%  static 'acro/js/scrollIt.min.js' %}"></script>

        <!-- jquery.waypoints.min -->
        <script src="{%  static 'acro/js/jquery.waypoints.min.js' %}"></script>

        <!-- jquery.counterup.min -->
        <script src="{%  static 'acro/js/jquery.counterup.min.js' %}"></script>

        <!-- owl carousel -->
        <script src="{%  static 'acro/js/owl.carousel.min.js' %}"></script>

        <!-- jquery.magnific-popup js -->
        <script src="{%  static 'acro/js/jquery.magnific-popup.min.js' %}"></script>

        <!-- stellar js -->
        <script src="{%  static 'acro/js/jquery.stellar.min.js' %}"></script>

        <!-- isotope.pkgd.min js -->
        <script src="{%  static 'acro/js/isotope.pkgd.min.js' %}"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="{%  static 'acro/js/YouTubePopUp.jquery.js' %}"></script>

        <!-- particles.min js -->
        <script src="{%  static 'acro/js/particles.min.js' %}"></script>

        <!-- app js -->
        <script src="{%  static 'acro/js/app.js' %}"></script>

        <!-- Map -->
        <script src="{%  static 'acro/js/map.js' %}"></script>

        <!-- validator js -->
        <script src="{%  static 'acro/js/validator.js' %}"></script>

        <!-- custom scripts -->
        <script src="{%  static 'acro/js/scripts.js' %}"></script>

        <!-- google map api -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">
        </script>

    </body>
</html>