{% load static%}
<!DOCTYPE html>
 <html lang="zxx">

    <head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="HTML5 Template Arco onepage themeforest" />
		<meta name="description" content="Arco - Onepage Multi-Purpose HTML5 Template" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>WorkShop Industry 4.0</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

		<!-- Plugins -->
		<link rel="stylesheet" href="{% static 'acro/css/plugins.css' %}" />

        <!-- Core Style Css -->
        <link rel="stylesheet" href="{% static 'acro/css/style.css' %}" />

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->


        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->

    	

    	<!-- End Header ====
    	======================================= -->



        <!-- =====================================
        ==== Start Hero -->

      

        <!-- End Hero ====
        ======================================= -->


        <!-- =====================================
        ==== Start Section-box -->

    

        <!-- End Section-box ====
        ======================================= -->


        <!-- =====================================
        ==== Start Services -->


        <!-- End Services ====
        ======================================= -->


        <!-- =====================================
        ==== Start Numbers -->


        <!-- End Numbers ====
        ======================================= -->


        <!-- =====================================
        ==== Start Works -->



        
        <section class="contact section-padding" data-scroll-index="7">
            <div class="container">
                <div class="row">

           
              
                    
                    <div class="section-head text-center col-sm-12">
                        <h4>Application</h4>
                        <h6>Deadline: Friday, June 12th midnight 2020</h6>
                    </div>

                    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">


                            
      {% load crispy_forms_tags %}
                                                            
    
    
    
      <p class="lead"></p>
      <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
      
        {{ form|crispy }}

       
            
          <div class="col-md-12 text-center">
                                        <button type="submit" class="butn butn-bg mt-30" ><span>  Validation</span></button>
                                    </div>
    
 
  
    </form>
  
                 
                    </div>
            

         
            </div>
            </div>
        </section>
























        <!-- End Contact ====
        ======================================= -->
        <section class="section-box" data-scroll-index="1">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 half-content bg-gray">
                        <div class="box-white">

                        
                            <!-- Skills -->

                            <div class="skills">
                                <div class="row">
                            
                                    <img src="{% static 'acro/img/sp.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- =====================================
        ==== Start Footer -->

        <footer class="text-center">
            <div class="container">

                <!-- Logo -->
                <a class="logo" href="#">
                    <img src="{% static 'acro/img/logo-light.png" alt="logo">          
                </a>
                
                <div class="social">
                    <a href="#0" class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#0" class="icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <p>&copy; 2020 ERPI Laboratory. All Rights Reserved.</p>
                <p href="http://www.freepik.com"> The baground picture Designed by macrovector / Freepik</p>

            </div>
        </footer>


        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Testimonials -->


        <!-- End Testimonials ====
        ======================================= -->


        <!-- =====================================
        ==== Start Blog -->

     

        <!-- End Blog ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact-Info -->


        <!-- End Contact-Info ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact -->

        <!-- End Contact ====
        ======================================= -->


        <!-- =====================================
        ==== Start Footer -->

        <!-- End Footer ====
        ======================================= -->




       
        <!-- jQuery -->
        <script src="{%  static 'acro/js/jquery-3.0.0.min.js' %}"></script>
        <script src="{%  static 'acro/js/jquery-migrate-3.0.0.min.js' %}"></script>

        <!-- popper.min -->
        <script src="{%  static 'acro/js/popper.min.js' %}"></script>

        <!-- bootstrap -->
        <script src="{%  static 'acro/js/bootstrap.min.js' %}"></script>

        <!-- scrollIt -->
        <script src="{%  static 'acro/js/scrollIt.min.js' %}"></script>

        <!-- jquery.waypoints.min -->
        <script src="{%  static 'acro/js/jquery.waypoints.min.js' %}"></script>

        <!-- jquery.counterup.min -->
        <script src="{%  static 'acro/js/jquery.counterup.min.js' %}"></script>

        <!-- owl carousel -->
        <script src="{%  static 'acro/js/owl.carousel.min.js' %}"></script>

        <!-- jquery.magnific-popup js -->
        <script src="{%  static 'acro/js/jquery.magnific-popup.min.js' %}"></script>

        <!-- stellar js -->
        <script src="{%  static 'acro/js/jquery.stellar.min.js' %}"></script>

        <!-- isotope.pkgd.min js -->
        <script src="{%  static 'acro/js/isotope.pkgd.min.js' %}"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="{%  static 'acro/js/YouTubePopUp.jquery.js' %}"></script>

        <!-- particles.min js -->
        <script src="{%  static 'acro/js/particles.min.js' %}"></script>

        <!-- app js -->
        <script src="{%  static 'acro/js/app.js' %}"></script>

        <!-- Map -->
        <script src="{%  static 'acro/js/map.js' %}"></script>

        <!-- validator js -->
        <script src="{%  static 'acro/js/validator.js' %}"></script>

        <!-- custom scripts -->
        <script src="{%  static 'acro/js/scripts.js' %}"></script>

        <!-- google map api -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">
        </script>

    </body>
</html>